.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    margin: 50px 50px;
}

.cart-container{
    background-color: rgba(34, 230, 116, 0.3);
    height: 10%;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 650px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}